@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

@font-face {
	font-family: 'icomoon';
	src:
					url('/src/assets/fonts/icomoon/icomoon.ttf?677nr0') format('truetype'),
					url('/src/assets/fonts/icomoon/icomoon.woff?677nr0') format('woff'),
					url('/src/assets/fonts/icomoon/icomoon.svg?677nr0#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: "Ubuntu";
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Ubuntu";
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: "Ubuntu";
	font-weight: 600;
	font-style: normal;
}
