[class^="icon-"]:before, [class*=" icon-"]:before{
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 1.5em;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button[class^="icon-"] {
  display: flex;
  align-content: center;
  gap: 10px;
}

.icon-add:before {
  content: "\e902";
}
.icon-play:before {
  content: "\e900";
}
.icon-email:before {
  content: "\e904";
}
.icon-settings:before {
  content: "\e905";
}
.icon-edit:before {
  content: "\e906";
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  font-family: var(--main-font);
  color: var(--font-color);
  background: var(--background-color);
}

#app {
  display: flex;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  justify-content: stretch;
  align-items: stretch;
  position: relative;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;

  @include media("<tablet") {
    font-size: 2.2em;
  }
}

a {
  color: var(--link-color);
  text-decoration: inherit;
}

button {
  background-color: #2b2a33;
  color: var(--button-color);
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;

  &:disabled {
    color: darkgrey;
  }
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.menu-wrapper {
  input[type=text] {
    min-height: 40px;
  }
}

input[type="text"]:not(.multiselect__input), select {
  background: white;
  color: black;
  border-radius: 8px;
  border: var(--border-input);
  font-size: 1em;
}

.picker {
  cursor: pointer;
}

.vertical-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.small-wrapper {
  min-width: 300px;
  max-width: 800px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}

@media (max-width: 465px) {
  .tabs .tab,
  .tabs label {
    order: initial;
  }

  .tabs label {
    width: 100%;
    margin-left: 50px;
  }
}

.btn-important {
  background: darkseagreen;
  order: 1;
}

.wrapper-label {
  display: flex;
  flex-direction: column;
}
.full {
  flex-basis: 100%;
}

@include media("<tablet") {
  .hidden-mobile {
    display: none !important;

    &.active {
      display: flex !important;
    }
  }
}

@include media(">tablet") {
  .visible-mobile {
    display: none !important;
  }
}

.description {
  font-size: 0.8em;
}

input, select {
  border: var(--select-border);
}

button.btn-valid:not(:disabled) {
  background-color: var(--valid-color) !important;
  border: 1px solid var(--valid-color);
  &:hover {
    border-color: var(--border-color);
  }
}
button.btn-danger {
  background-color: var(--danger-color)  !important;
}
.danger {
  color: var(--danger-color);
}

.shepherd-target {
  border: 1px solid var(--success-background);
}