[class^="icon-"]:before, [class*=" icon-"]:before{
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 1.5em;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button[class^="icon-"],
button[class*=" icon-"],
{
  display: flex;
  align-content: center;
  gap: 10px;
  align-items: center;
}

.icon-add:before {
  content: "\e902";
}
.icon-play:before {
  content: "\e900";
}
.icon-email:before {
  content: "\e904";
}
.icon-settings:before {
  content: "\e905";
}
.icon-edit:before {
  content: "\e906";
}
.icon-question:before {
  content: "\e901";
}
.icon-crowd:before {
  content: "\e907";
}
.icon-character:before {
  content: "\e908";
}
.icon-upload:before {
  content: "\e90a";
}
.icon-download:before {
  content: "\e909";
}
.icon-clone:before {
  content: "\e90b";
}
.icon-trash:before {
  content: "\e90c";
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  font-family: var(--main-font);
  color: var(--font-color);
  background: var(--background-color);

  @include media("<tiny") {
    min-width: 300px;
  }
}

#app {
  display: flex;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  justify-content: stretch;
  align-items: stretch;
  position: relative;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;

  @include media("<tablet") {
    font-size: 2.2em;
  }
}

a {
  color: var(--font-color);
  font-weight: bold;
  text-decoration: inherit;
}

button {
  background-color: #2b2a33;
  color: var(--button-color);
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;

  a {
    color: var(--button-color);
    font-weight: normal;
  }
  &:disabled {
    color: darkgrey;
  }
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.menu-wrapper {
  input[type=text] {
    min-height: 40px;
  }
}

input[type="text"]:not(.multiselect__input),
input[type="number"],
select {
  background: white;
  color: black;
  border-radius: 8px;
  border: var(--border-input);
  font-size: 1em;
}

.picker {
  cursor: pointer;
}

.vertical-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.small-wrapper {
  min-width: 300px;
  max-width: 1200px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}

@media (max-width: 465px) {
  .tabs .tab,
  .tabs label {
    order: initial;
  }

  .tabs label {
    width: 100%;
    margin-left: 50px;
  }
}

.btn-important {
  background: darkseagreen;
  order: 1;
}

.wrapper-label {
  display: flex;
  flex-direction: column;
}
.full {
  flex-basis: 100%;
}

@include media("<tablet") {
  .hidden-mobile {
    display: none !important;

    &.active {
      display: flex !important;
    }
  }
}

@include media(">tablet") {
  .visible-mobile {
    display: none !important;
  }
}

.description {
  font-size: 0.8em;
}

input, select {
  border: none;
}

button.btn-valid:not(:disabled) {
  background-color: var(--valid-color) !important;
  border: 1px solid var(--valid-color);
  &:hover {
    border-color: var(--border-color);
  }
}
button.btn-danger {
  background-color: var(--danger-color)  !important;
}
.danger {
  color: var(--danger-color);
}

.shepherd-target {
  border: 1px solid var(--success-background);
}

.radio-wrapper {
  display: flex;
  gap: 10px;

  input[type=radio], input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    gap: 8px;
    vertical-align: top;
    margin: 0;
    cursor: pointer;
    border: 1px solid #BBC1E1;
    background: var(--b, #fff);
    transition: background 0.6s, border-color 0.3s, box-shadow 0.2s;
    min-width: 21px;
    position: relative;
    translate: 0 0 1px;
    align-self: center !important;
    border-radius: 7px;

    &:after {
      width: 5px;
      height: 9px;
      border: 2px solid #fff;
      border-top: 0;
      border-left: 0;
      left: 7px;
      top: 4px;
      transform: rotate(var(--r, 20deg));
      content: "";
      display: block;
      position: absolute;
      transition: transform all var(--d-t-e, ease), opacity var(--d-o, 0.2s);
    }

    &:checked {
      --r: 43deg;
      --b: #275EFE;
      --bc: #275EFE;
      --d-o: .3s;
      --d-t: .6s;
      --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
    }

    &:disabled {
      --b: #F6F8FF;
      cursor: not-allowed;
      opacity: 0.9;

      &:checked {
        --b: #E1E6F9;
        --bc: var(--border);
      }

      + label {
        cursor: not-allowed;
      }
    }

    &:hover:not(:checked):not(:disabled) {
      --bc: #275EFE;
    }

    &:focus {
      box-shadow: 0 0 0 2px rgba(39, 94, 254, .3);
    }

    &:after {
      opacity: var(--o, 0);
    }

    &:checked {
      --o: 1;
    }

    + label {
      display: inline-block;
      cursor: pointer;
      text-align: left;
    }
  }

  * {
    box-sizing: inherit;
    &:before,
    &:after {
      box-sizing: inherit;
    }
  }
}