$breakpoints: (
        tiny: 360px,
        phone: 640px,
        tablet: 768px,
        laptop: 1280px,
        desktop: 1440px
);

:root {
  font-family: Helvetica, system-ui, Avenir, Inter, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: clamp(16px, 0.8vw, 1.2vw);

  color-scheme: light dark;
  --main-font: 'Ubuntu';
  --font-color: white;
  --inverse-font-color: black;
  --input-font-color: white;
  --link-color: #90B494;
  --link-hover-color: #57A773;
  --background-color: black;
  --button-color: white;
  --button-border-active: #39c6ff;
  --background-card-color: #222;
  --border-input: none;
  --border-color: #777;
  --failure-background: #8c3232;
  --success-background: #277e27;
  --success-color: #277e27;
  --danger-color: #8c3232;
  --valid-color: #266226;
  --tag-color: #1c1a1a;
  --background-select: white;
  --poll-background: #242424;
  --button-background: #0b6488;
  --margin-multiselect: 0;
  --tab-border-color: white;
  --character-picked: gold;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
[data-theme="dark"] {
  &.picker {
	  background: black;
  }
}
[data-theme="light"] {
  --font-color: black;
  --inverse-font-color: white;
  --input-font-color: black;
  --background-color: #efefef;
  --button-background: black;
  --button-color: white;
  --button-border-active: #90c0ff;
  --background-card-color: #90c0ff;
  --border-color: #777;
  --tab-border-color: black;
  --character-picked: black;

  &.picker {
	  background: #efefef;
  }
}

[data-theme="blue"] {
  --font-color: black;
  --inverse-font-color: white;
  --input-font-color: white;
  --background-color: #5858c4;
  --background-card-color: #87BCDE;
  --button-background: black;
  --button-color: white;
  --button-border-active: white;
  --border-color: #777;
  --valid-color: #379634;
  --danger-color: #A63A50;
  --tab-border-color: black;

  &.picker {
    background: #5858c4;
  }
}

[data-theme="sepia"] {
  --font-color: #141204;
  --inverse-font-color: white;
  --input-font-color: #4d3f36;
  --background-color: #e5e2da;
  --button-background: #4d3f36;
  --button-color: #e5e2da;
  --button-border-active: black;
  --background-card-color: #7796CB;
  --border-color: #777;
  --tab-border-color: #4d3f36;
  --character-picked: #141204;
  --success-background: #159241;
  --failure-background: #AA4538;

  &.picker {
    background: #dbc6b8;
  }
}