@font-face {
  font-family: 'icomoon';
  src:  url('./assets/fonts/icomoon.eot?677nr0');
  src:  url('./assets/fonts/icomoon.eot?677nr0#iefix') format('embedded-opentype'),
  url('./assets/fonts/icomoon.ttf?677nr0') format('truetype'),
  url('./assets/fonts/icomoon.woff?677nr0') format('woff'),
  url('./assets/fonts/icomoon.svg?677nr0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Ubuntu";
  src: url("./assets/fonts/Ubuntu-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Ubuntu";
  src: url("./assets/fonts/Ubuntu-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Ubuntu";
  src: url("./assets/fonts/Ubuntu-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before{
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 1.5em;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button[class^="icon-"] {
  display: flex;
  align-content: center;
  gap: 10px;
}

.icon-add:before {
  content: "\e902";
}
.icon-play:before {
  content: "\e900";
}
.icon-play1:before {
  content: "\e901";
}
.icon-email:before {
  content: "\e904";
}
.icon-settings:before {
  content: "\e905";
}
.icon-edit:before {
  content: "\e906";
}

a {
  color: var(--link-color);
  text-decoration: inherit;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  font-family: var(--main-font);
  color: var(--font-color);
  background: var(--background-color);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  background-color: var(--button-background);
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;

  &.active {
    border: 1px solid #39c6ff;
  }
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input[type="text"]:not(.multiselect__input), select {
  height: 40px;
  background: white;
  color: black;
  border-radius: 8px;
  border: none;
}

.card {
  padding: 2em;
}

#app {
  display: flex;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  justify-content: stretch;
  align-items: stretch;
  position: relative;
}

.vertical-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.small-wrapper {
  min-width: 300px;
  max-width: 800px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media (max-width: 465px) {
  .tabs .tab,
  .tabs label {
    order: initial;
  }

  .tabs label {
    width: 100%;
    margin-left: 50px;
  }
}

.btn-important {
  background: darkseagreen;
  order: 1;
}

button.active {
  background: #73a8a3;
}

.wrapper-label {
  display: flex;
  flex-direction: column;
}
.full {
  flex-basis: 100%;
}

@include media("<tablet") {
  .hidden-mobile {
    display: none !important;

    &.active {
      display: flex !important;
    }
  }
}

@include media(">tablet") {
  .visible-mobile {
    display: none !important;
  }
}

.description {
  font-size: 0.8em;
}


button.btn-valid {
  background: var(--valid-color);
  border: 1px solid var(--valid-color);
  &:hover {
    border-color: var(--border-color);
  }
}
button.btn-danger {
  background: var(--danger-color);
}
.danger {
  color: var(--danger-color);
}

.shepherd-target {
  border: 1px solid var(--success-background);
}